<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alan-raoul.html">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <title>Document</title>
</head>

<body>

    <div id="app">
        <p>Prix de départ : {{ number1 }} €</p>
        <input type="number" min="0" v-model="number1">
        <p>Promotion : {{ number2 }} %</p>
        <input type="number" min="0" max="100" v-model="number2">
        <div v-if="number1 && number2 != 0">
        <p>La Réduction : {{ calculPercentage }} €</p>
        <p>Nouveau Prix : {{ calculFinalPrice }} €</p>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                number1: '',
                number2: '',
            },
            computed: {
                calculPercentage: function () {
                    return (this.number1 * this.number2)/100;
                }, 
                calculFinalPrice: function(){
                    return this.number1 - ((this.number1 * this.number2)/100);
            }
        }
    }
        )
    </script>
</body>

</html>